<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>用户列表</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>商品名称</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${page.list}">
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.name}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><a th:href="@{/admin/user/list?pageNum=0}">首页</a></td>
        <td th:switch="${page.pageNum}">
            <p th:case="1"> <a th:href="@{/admin/user/list?pageNum=1}">上一页</a></p>
            <p th:case="*"><a th:href="@{/admin/user/list(pageNum=${page.pageNum-1})}">上一页</a></p>
        </td>
        <td th:switch="${page.pageNum}">
            <p th:case="${page.pageSize}"><a th:href="@{/admin/user/list(pageNum=${page.pageSize})}">下一页</a></p>
            <p th:case="*"><a th:href="@{/admin/user/list(pageNum=${page.pageNum+1})}">下一页</a></p>
        </td>
        <td><a th:href="@{/admin/user/list(pageNum=${page.pageSize})}">尾页</a></td>
    </tr>
    </tfoot>
</table>

</body>
</html>